.catalogo__container{
    border-top: 3px solid var(--color-dorado);
    background: var(--deg-white);
    position: relative;
    top: -250px;
    height: 200px;
    box-shadow: 4px 4px 4px black;

}


.catalogo{
    top: -42px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(233, 168, 49, 0.5);
    background: var(--color-dorado);
    height: 80px;
    margin: 100px 400px 100px 350px;
    border-radius: 5rem;
    box-shadow: 2px 2px 5px black;
}

.catalogo__title{
    color: var(--color-bg);
    font-size: 32px;
    margin-top: 7px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 1.5px rgba(245, 245, 245, 0.7);
    
}

.catalogo__btn{
    padding: 12px 20px;
    border-radius: 5rem;
    margin: 0 20px;
    background: var(--color-bg);
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    border: var(--color-black);
    box-shadow: 1px 1px 2px var(--color-white);
    
}


