*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --color-bg: linear-gradient(90deg, rgba(37,41,42,1) 0%, rgba(21,25,26,1) 100%);
  --deg-dorado: linear-gradient(90deg, rgba(220,183,102,1) 0%, rgba(208,166,92,1) 100%);
  --deg-white: linear-gradient(90deg, rgb(230, 230, 230) 0%, rgba(251,251,251,1) 100%);
  --color-white: #edf1f2;
  --color-dorado: #edb848;
  --color-black: #181c1f;
}

html{
  height: 100vh;
  background: var(--color-bg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

#root{
  background: var(--color-bg);
}



